@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
nav,
span {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    font-size: 8.5px;
    color: #000;
    scroll-behavior: smooth;
}

body {
    color: #000;

}






@keyframes progress {
    0% {
        --percentage: 0;
    }

    100% {
        --percentage: var(--value);
    }
}


@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 100;
}

[role="progressbar"] {
    --percentage: var(--value);
    --primary: hsla(165, 77%, 17%, 1);
    --secondary: #dff3c8;
    --size: 200px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 5/2;
    border-radius: 50% / 100% 100% 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
    mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
    -webkit-mask-mode: alpha;
}

.progress-percentage {
    counter-reset: percentage;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 9);
    color: var(--primary);
}